body {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}

.Header {
    display: flex;
    flex-direction: row-reverse;
    background-color: grey;
    color: rgb(182, 196, 146);
    padding: 20px;
    width: auto;
    margin-left: 50vh;
    margin-right: 50vh;
    border-radius: 15%;
    box-shadow: 15px 10px 10px;
    color: black;   
}

.Header h1, article{
    color: beige;
}

.Header img {
    width: 250px;
    height: auto;
    border-radius: 20%;
 
    object-fit: cover;
    padding: 10px;
}

article {
    padding: 10px;
    margin: 15px;
    max-width: 150px;
}

article:hover {
    background-color: beige;
    transition: 2s;
}

.Projekte {
    display: flex;
    background-color: grey;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: solid black;
    margin: 50px 500px;
}

.Projekte a:hover {
    color: coral;
    transition: 1s;
}

.Projekte h1 {
    margin-top: 10px;
    margin-right: 100px;
    padding: 5px;
    text-decoration: underline;
    font-size: 20px;
    color: beige;
}

.Projekte ul {
    list-style: inside;
}

footer {
    margin: 50px;

}

footer a {
    padding: 0px 10px;
}

.swiper {
    width: 300px;
    height: 200px;
    
}

.swiper-slide img {
    width: 150px;
}