body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    position: static;
    top: 0;
    left: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    z-index: 1;
    width: 100%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-social {
    display: flex;
}

.navbar h2 {
    color: beige;
    padding: 10px;
}

.navbar a {
    color: beige;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

@media(min-width: 850px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: baseline;
        align-items: center;
        width: 100%;
        margin: 2vh;
    }
}

.Profil {
    background-color: grey;
    color: rgb(182, 196, 146);
    padding: 20px;
    width: 50vh;
    border-radius: 15%;
    box-shadow: 15px 10px 10px;
    color: black;
}

.Profil h1,
article {
    color: beige;
}

.Profil img {
    width: 250px;
    height: auto;
    border-radius: 20%;
    object-fit: cover;
    padding: 10px;
}

article {
    padding: 10px;
    margin: 15px;
    max-width: 150px;
}

article:hover {
    background-color: beige;
    transition: 2s;
}

.Projekte {
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: top;
    border: solid black;
    border-radius: 20px;
    margin: 50px 50px;
    height: 50vh;
    width: 50vh;
}

.swiper {
    width: 300px;
    height: auto;
    transition: 2s;
    display: block;
}

.swiper-wrapper {
    transition: 2s;
}

.swiper-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 150px;
}

.swiper-slide .project-description {
    display: block;
    color: beige;

}

.swiper-slide .project-description-headline {
    padding: 4px;
}

.swiper-slide .project-description-text {
    padding: 4px;
}

.Projekte a:hover {
    color: coral;
    transition: 1s;
}

.Projekte h1 {
    margin-top: 10px;
    margin-right: 100px;
    padding: 5px;
    text-decoration: underline;
    font-size: 20px;
    color: beige;
}

.Projekte ul {
    list-style: inside;
}

footer {
    margin: 50px;

}

footer a {
    padding: 0px 10px;
}



